workflows/Assistant RSS Menu NL AM Test.json
{"createdAt":"2025-03-11T14:55:08.959Z","updatedAt":"2025-03-11T17:07:30.000Z","id":"YsV6x1obRwVPQp7y","name":"Assistant RSS Menu NL AM Test","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-980,-240],"id":"e387190c-eaf6-40a1-91eb-1a5606c44d2d","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://www.agefi.fr/theme/a-la-une-am.rss","options":{"ignoreSSL":true}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-780,-240],"id":"4d435a4f-029c-47ce-9547-50fb0f71380e","name":"RSS Read","executeOnce":false,"alwaysOutputData":true,"notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa90dd15-4142-499d-8c0f-2db52a7f7d0c","leftValue":"={{ $json.pubDate }}","rightValue":"={{$today.minus(14,'days')}}","operator":{"type":"dateTime","operation":"after"}},{"id":"2650869e-07e8-4c21-a0df-81e242b7a3c6","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-600,-240],"id":"7fec45f4-f3d3-490f-be63-59d128f3ebc1","name":"Filter"},{"parameters":{"maxItems":5},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-420,-240],"id":"d6c87749-9764-476d-90ad-772400efae82","name":"Limit"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"title"},{"fieldToAggregate":"contentSnippet"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-240,-240],"id":"37dedd30-1abe-49a5-b524-4c7b8154bfe8","name":"Aggregate"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5ef92deb-81b3-4c34-a5c5-3d3fc49a7057","triggerCount":0,"tags":[]}