workflows/Circleci-webhook-test.json
{"createdAt":"2025-03-26T10:27:07.965Z","updatedAt":"2025-03-26T14:16:37.000Z","id":"OnddfzIwys7y2TNF","name":"Circleci-webhook-test","active":true,"nodes":[{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"=https://github.com/smentz1","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/smentz1/CircleCI-demo","mode":"url"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"4ccdee2a-cc5e-446a-b897-561a1fe15bec","name":"GitHub","type":"n8n-nodes-base.github","position":[-1260,-300],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"ZB4gVt12IUscSRdg","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"shashikanth171"},{"name":"repo.name","value":"n8n-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"279a1a0d-6629-4611-a285-d357130d9090","name":"Globals","type":"n8n-nodes-base.set","position":[-1960,-380],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"e711f208-1042-4d53-a19a-9e9ebf557f44","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1720,-380],"typeVersion":1,"credentials":{"n8nApi":{"id":"GcRkwnCDvOvPYUwT","name":"n8n account"}}},{"parameters":{"options":{}},"id":"d8e8d974-9ea1-454d-ab3b-fe1edc8ef4bb","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-1500,-380],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"828c38b0-ef11-4eb8-9a11-6b18cbea467c","name":"If","type":"n8n-nodes-base.if","position":[-1060,-300],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"784e65b1-9965-46ab-afcf-605dbb5f1b94","name":"If1","type":"n8n-nodes-base.if","position":[-180,-20],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"ec121b46-863e-4410-9701-642cd1c49c6f","name":"Code","type":"n8n-nodes-base.code","position":[-500,-320],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"=https://github.com/smentz1","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/smentz1/CircleCI-demo","mode":"url"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"4a94d31c-3949-45db-87f2-b52c81f4b2e5","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[-880,-140],"typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"ZB4gVt12IUscSRdg","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/smentz1","mode":"url"},"repository":{"__rl":true,"value":"=https://github.com/smentz1/CircleCI-demo","mode":"url"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"404db269-aac0-4075-919c-303697a5b166","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[180,180],"typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"ZB4gVt12IUscSRdg","name":"GitHub account"}}},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"52bcd499-1d48-42f9-a31c-729e45d2a148","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[340,200],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"3e0b9a6b-1e26-4b95-9e70-02150ded497a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-40,-20],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"d768682d-4f0c-4506-87e1-199a4aae908b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-760,-120],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"35e1d827-4165-4943-9a55-5cbb394d497c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-1060,-400],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"6c838d5a-17e4-4adf-b4e4-4300a20a4c00","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-560,-420],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"aff737e7-6779-494a-adee-2f0ccf226d2d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1780,-480],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"0c3ae598-2ba6-4b38-8599-531c001906e3","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-2040,-240],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"cicleci-test","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2300,-380],"id":"b1817098-3786-44cc-8cc4-830f51ef4b4e","name":"Webhook1","webhookId":"cba503fc-78f7-4834-b2d7-3bbf5a9a07ca"}],"connections":{"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96b08bf2-81dc-4b21-b14d-4e7410cdef95","triggerCount":1,"tags":[]}