workflows/Dow Jones Test.json
{"createdAt":"2025-02-26T15:18:48.263Z","updatedAt":"2025-03-05T13:45:16.000Z","id":"nzdWNIYZ3C7Ms39c","name":"Dow Jones Test","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,-20],"id":"534f73c9-2661-4932-b1b1-aabed4c77b41","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"list","path":"/test"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[-340,-20],"id":"16cc569c-8a0a-4b68-85fd-6d687e0cd798","name":"FTP","credentials":{"ftp":{"id":"vn8iS4IPlNkavXDw","name":"FTP Agefi - Dow-Jones"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8305d91-c5cd-4317-9e91-da95513a6403","leftValue":"={{ $json.name }}","rightValue":".xml","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,-20],"id":"5efc9845-5291-4623-b0d3-ef21efeba2fd","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-40],"id":"065b6f31-2772-42cb-b5d5-7b4b4003d7b2","name":"Loop Over Items","executeOnce":false},{"parameters":{"path":"=/test/{{ $json.name }}"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[600,0],"id":"9810718e-20e8-4239-b8a5-d256c59239c2","name":"FTP1","alwaysOutputData":false,"credentials":{"ftp":{"id":"vn8iS4IPlNkavXDw","name":"FTP Agefi - Dow-Jones"}}},{"parameters":{"operation":"xml","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[780,0],"id":"cf38afdd-f8d6-4a3a-93a2-f36b35b6caf3","name":"Extract from File"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[600,-180],"id":"1dc6bf30-714b-4567-883d-83e053c1e69d","name":"Done"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7fbf4d34-3ba8-40bd-b3d6-f5eb7f69a886","leftValue":"={{$runIndex}}","rightValue":19,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,-20],"id":"b275ca1c-88bb-4ce7-8eef-81ca2c47c2e4","name":"if more than 20"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1000,0],"id":"f996c173-4947-41fb-832b-fb4e95549a4f","name":"API (do nothing)"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"FTP","type":"main","index":0}]]},"FTP":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[{"node":"Done","type":"main","index":0}],[{"node":"if more than 20","type":"main","index":0}]]},"FTP1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"API (do nothing)","type":"main","index":0}]]},"if more than 20":{"main":[[{"node":"Done","type":"main","index":0}],[{"node":"FTP1","type":"main","index":0}]]},"API (do nothing)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0067f23-0b94-45fc-aff1-27cceea1bf3d","triggerCount":0,"tags":[]}