workflows/Eventmaker export Test.json
{"createdAt":"2025-03-11T15:23:13.018Z","updatedAt":"2025-03-11T15:38:13.000Z","id":"okWScs5mLZI9aRoj","name":"Eventmaker export Test","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-740,0],"id":"6ec17de8-6471-4bde-9457-9f650520abd4","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://app.eventmaker.io/api/v1/events.json","sendQuery":true,"queryParameters":{"parameters":[{"name":"auth_token","value":"RYwroPsayH94DWdsSx_p"},{"name":"published","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,0],"id":"16fa07a3-35e2-4b4e-99fb-4cf03dc337e8","name":"HTTP Request"},{"parameters":{"url":"=https://app.eventmaker.io/api/v1/events/{{ $json._id }}/guests.json","sendQuery":true,"queryParameters":{"parameters":[{"name":"auth_token","value":"RYwroPsayH94DWdsSx_p"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,0],"id":"8f9bd5e7-d1a3-4446-9ff2-8cc52b7152c8","name":"HTTP Request1"},{"parameters":{"resource":"object","operation":"create","bucketName":"file_temp","objectName":"=","createData":{},"createQuery":{},"encryptionHeaders":{},"requestOptions":{}},"type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[480,0],"id":"8fb55557-c1d5-4405-a6af-43fffbe44b1e","name":"Google Cloud Storage","credentials":{"googleCloudStorageOAuth2Api":{"id":"qq1Amk9tquYnboG5","name":"Google Cloud Storage account"}},"disabled":true},{"parameters":{"binaryPropertyName":"={{ $('HTTP Request').item.json.title }}","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[20,0],"id":"7243dc96-c54b-4ae9-aa2a-582ef27c91df","name":"Convert to File"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Cloud Storage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6eda6db-f2a1-4ad8-84df-a6f982960ec1","triggerCount":0,"tags":[]}