workflows/Generation 7H.json
{"createdAt":"2025-03-18T10:07:31.498Z","updatedAt":"2025-03-18T17:21:58.000Z","id":"CTOwPD8w7VeyiJh8","name":"Generation 7H","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-520,-100],"id":"f5c4a7af-6cb4-46f0-a3b9-5a6bd58659cf","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"function isWorkingDay(date) {\n    const year = date.getFullYear();\n    \n    // Liste des jours fériés fixes\n    const holidays = [\n        new Date(year, 0, 1),   // 1er Janvier\n        new Date(year, 4, 1),   // 1er Mai\n        new Date(year, 4, 8),   // 8 Mai\n        new Date(year, 6, 14),  // 14 Juillet\n        new Date(year, 7, 15),  // 15 Août\n        new Date(year, 10, 1),  // 1er Novembre\n        new Date(year, 10, 11), // 11 Novembre\n        new Date(year, 11, 25)  // Noël\n    ];\n    \n    // Vérification si c'est un dimanche ou un jour férié fixe\n    if (date.getDay() === 0 || holidays.some(h => h.getTime() === date.getTime())) {\n        return false;\n    }\n    \n    // Calcul du lundi de Pâques (algorithme de Oudin, 1940)\n    const goldNumber = year % 19;\n    const century = Math.floor(year / 100);\n    const epacte = (century - Math.floor(century / 4) - Math.floor((8 * century + 13) / 25) + (19 * goldNumber) + 15) % 30;\n    const daysEquinoxeToMoonFull = epacte - Math.floor(epacte / 28) * (1 - Math.floor(epacte / 28) * Math.floor(29 / (epacte + 1)) * Math.floor((21 - goldNumber) / 11));\n    const weekDayMoonFull = (year + Math.floor(year / 4) + daysEquinoxeToMoonFull + 2 - century + Math.floor(century / 4)) % 7;\n    const daysEquinoxeBeforeFullMoon = daysEquinoxeToMoonFull - weekDayMoonFull;\n    const monthPaques = 3 + Math.floor((daysEquinoxeBeforeFullMoon + 40) / 44);\n    const dayPaques = daysEquinoxeBeforeFullMoon + 28 - 31 * Math.floor(monthPaques / 4);\n    const lundiPaques = new Date(year, monthPaques - 1, dayPaques + 1);\n    \n    // Calcul des autres jours fériés mobiles\n    const ascension = new Date(lundiPaques);\n    ascension.setDate(lundiPaques.getDate() + 38);\n    \n    const pentecote = new Date(lundiPaques);\n    pentecote.setDate(lundiPaques.getDate() + 49);\n    \n    return ![lundiPaques, ascension, pentecote].some(h => h.getTime() === date.getTime());\n}\n\n\n//Retorna o dia da semana entre 0 e 6\nvar date = new Date ($input.first().json[\"currentDate\"]);\nvar day = date.getDay();\n\n//Array para atribuir o dia da semana junto a função .getDay()\nconst weekday = [\"dimanche\",\"lundi\",\"mardi\",\"mercredi\",\"jeudi\",\"vendredi\",\"samedi\"];\n\n//Atribui o nome do dia da semana à propriedade ‘day_today’\nitems[0].json.day_today = weekday[day];\nitems[0].json.isWorkingDay = isWorkingDay(date);\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,-100],"id":"39cbe4a5-1d9d-4579-8df9-39c0255a23ea","name":"Code"},{"parameters":{"operation":"formatDate","date":"05/01/2025","format":"yyyy-MM-dd","outputFieldName":"currentDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-360,-100],"id":"2ac7a700-f916-4934-9a4e-a7ba1e230ac5","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55f419dc-5600-49bf-9c1e-d96292c96d51","leftValue":"={{ $json.isWorkingDay }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-60,-100],"id":"7c53e335-b14d-471a-b831-642a89fc3a7a","name":"If"},{"parameters":{"content":"Verification jour ferié et dimanche","height":320,"width":760,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-160],"id":"c8ae9205-3e66-463f-92de-ee90c76eb638","name":"Sticky Note"},{"parameters":{"fromEmail":"n8n.rec@agefi.fr","toEmail":"dsi@agefi.fr","subject":"Job canceled : jour férié","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[160,-20],"id":"6c655bb6-18ca-48e9-824a-a407d2ceba2d","name":"Send Email","webhookId":"4c38dea1-e0b8-4624-aac7-0ec1b9f6feb3","credentials":{"smtp":{"id":"V1OAb7ZXvj52s1qm","name":"SMTP account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"296c490d-3476-4b4d-824f-b97f5447f610","triggerCount":0,"tags":[]}