workflows/My workflow 3.json
{"createdAt":"2025-01-28T12:33:52.535Z","updatedAt":"2025-01-28T13:14:35.000Z","id":"ZXJdqMsqnlYFR2Ra","name":"My workflow 3","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-740,0],"id":"775374d4-a409-4bc5-a09f-e5aa943487da","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://app.eventmaker.io/api/v1/events.json","sendQuery":true,"queryParameters":{"parameters":[{"name":"auth_token","value":"RYwroPsayH94DWdsSx_p"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,0],"id":"e121df5b-27b4-49c4-bcb2-b72b3eac00ce","name":"HTTP Request"},{"parameters":{"url":"=https://app.eventmaker.io/api/v1/events/{{ $json._id }}/guests.json","sendQuery":true,"queryParameters":{"parameters":[{"name":"auth_token","value":"RYwroPsayH94DWdsSx_p"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,0],"id":"1d229b81-34cb-4b6d-8168-2dbee4ba5ed7","name":"HTTP Request1"},{"parameters":{"resource":"object","operation":"create","bucketName":"file_temp","objectName":"={{ $('HTTP Request').item.json.title }}","createFromBinary":false,"createContent":"=","createData":{},"createQuery":{},"encryptionHeaders":{},"requestOptions":{}},"type":"n8n-nodes-base.googleCloudStorage","typeVersion":1,"position":[480,0],"id":"0c4ca1dc-b98e-4861-9395-c7ca810ab27a","name":"Google Cloud Storage","credentials":{"googleCloudStorageOAuth2Api":{"id":"qq1Amk9tquYnboG5","name":"Google Cloud Storage account"}}},{"parameters":{"binaryPropertyName":"={{ $('HTTP Request').item.json.title }}","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[20,0],"id":"bc2bcce5-f8e6-436f-a511-8cb1b987bbc9","name":"Convert to File"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Cloud Storage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e9bbac3-778b-41d1-8d26-1658dc14a72c","triggerCount":0,"tags":[]}