workflows/My workflow 2.json
{"createdAt":"2025-01-27T15:36:49.070Z","updatedAt":"2025-01-27T17:21:24.000Z","id":"oC7nSCdyd3xPakqh","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-800,20],"typeVersion":1,"id":"c4709141-e9ad-45fe-8e75-9db93fd473b4"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"dataArray","type":"n8n-nodes-base.function","position":[-360,180],"typeVersion":1,"id":"302d8e42-44af-4817-bf8c-dd313a4ff6a1"},{"parameters":{"url":"http://localhost:5678/api/v1/workflows","options":{}},"name":"N8N Workflows","type":"n8n-nodes-base.httpRequest","position":[-500,180],"typeVersion":1,"id":"098b4eec-55c0-4b47-bad3-ccc905e10591"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub","type":"n8n-nodes-base.github","position":[0,0],"typeVersion":1,"alwaysOutputData":true,"id":"404ca79c-de4c-4b26-9db5-aa56878d2694","credentials":{"githubApi":{"id":null,"name":"GitHub"}},"continueOnFail":true},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[200,180],"typeVersion":1,"id":"6d1f379d-4712-4d07-ad96-735cde7afce0"},{"parameters":{"url":"=http://localhost:8443/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[0,340],"typeVersion":1,"id":"d8528b38-730b-4824-9544-24f3edc85ca6"},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"name":"github_status","type":"n8n-nodes-base.switch","position":[500,180],"typeVersion":1,"id":"6d2b3ae7-8433-4de8-b487-39456c453cf6"},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[700,0],"typeVersion":1,"id":"faca7f64-2a1e-4088-94ea-5abc1c98e5d7"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[700,180],"typeVersion":1,"id":"5d664409-6853-47ef-b5d2-269d2c44e773"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[700,340],"typeVersion":1,"id":"a651fa49-5bdf-4f82-87e7-229fbfc38c96"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[900,60],"typeVersion":1,"id":"1301787a-860b-4554-889f-754dec279925","credentials":{"githubApi":{"id":null,"name":"GitHub"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[900,340],"typeVersion":1,"id":"ccdf1d84-48a4-41ad-bff3-41843ed8cfc0","credentials":{"githubApi":{"id":null,"name":"GitHub"}}},{"parameters":{"functionCode":"// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"},"name":"isDiffOrNew","type":"n8n-nodes-base.function","position":[360,180],"typeVersion":1,"id":"fcc156b6-68c1-49cd-a425-49ffa00d3d62"},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[-800,320],"typeVersion":1,"id":"895cc872-c401-410d-91e5-fa7fafa47bc8"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[-200,180],"typeVersion":1,"id":"a1ba9de8-e888-45ed-bb24-4a4a1a99e21e"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"octocat"},{"name":"repo.name","value":"Hello-World"},{"name":"repo.path","value":"my-team/n8n/workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[-660,180],"typeVersion":1,"id":"fd4c7028-284a-4532-94e0-8b4692c3372c"}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"dataArray":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"N8N Workflow Detail","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"N8N Workflows":{"main":[[{"node":"dataArray","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Merge","type":"main","index":1}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"49c34b5b-778c-4dcf-a682-11bc742a901c","triggerCount":0,"tags":[]}